:root {
    --primary-color: #FFC93C;
    --blackblue-color: #07689F;
    --secondblue-color: #40A8C4;
    --thirtblue-color: #A2D5F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}


/* test */